{% if page.pageclass == "post" %}
<div class="site-pre-footer">
	<div class="container">
		<a href="/">Read more posts on the Kanzan blog</a>
	</div>
</div>
{% endif %}
<div class="site-footer">
  <div class="container">
  	<p>
  		Kanzan is a CMS for developers who care about their code and performance in the browser, and for content managers who crave simplicity.</p>
  	<p>
  		For more information visit <a href="http://kanzan.io">Kanzan.io</a>
  	</p>
  	<p>
  		You can also keep up to date be following us on twitter. Follow <a href="http://twitter.com/kanzancms">@kanzancms</a> 
  	</p>
  </div>
</div>
